---

---

<section class="text-white mx-16 min-[1600px]:mx-56 my-40">
  <div class="flex justify-center">
    <h2 class="text-5xl font-semibold max-w-4xl text-center">
      We at Digital & Design, Are All Equipped and Ready to Help Your Business
      Grow.
    </h2>
  </div>
  <div class="flex mt-20 justify-between items-center">
    <div class="group flex gap-5">
      <h1
        class="text-[112px] text-dd-main-bg font-outline-1 group-hover:text-dd-primary group-hover:font-outline-0"
      >
        10
      </h1>
      <div
        class="text-2xl text-dd-text-grey flex flex-col gap-4 justify-center cursor-pointer"
      >
        <p>Years</p>
        <p>Experience</p>
      </div>
    </div>
    <div class="group flex gap-5">
      <h1
        class="text-[112px] text-dd-main-bg font-outline-1 group-hover:text-dd-primary group-hover:font-outline-0"
      >
        12+
      </h1>
      <div
        class="text-2xl text-dd-text-grey flex flex-col gap-4 justify-center cursor-pointer"
      >
        <p>Advanced</p>
        <p>Tools</p>
      </div>
    </div>
    <div class="group flex gap-5">
      <h1
        class="text-[112px] text-dd-main-bg font-outline-1 group-hover:text-dd-primary group-hover:font-outline-0"
      >
        52
      </h1>
      <div
        class="text-2xl text-dd-text-grey flex flex-col gap-4 justify-center cursor-pointer"
      >
        <p>Clients</p>
        <p>Satisfied</p>
      </div>
    </div>
    <div class="group flex gap-5">
      <h1
        class="text-[112px] text-dd-main-bg font-outline-1 group-hover:text-dd-primary group-hover:font-outline-0"
      >
        90
      </h1>
      <div
        class="text-2xl text-dd-text-grey flex flex-col gap-4 justify-center cursor-pointer"
      >
        <p>Projects</p>
        <p>Completed</p>
      </div>
    </div>
  </div>
  <div id="projects"></div>
</section>
