---
import MainLayout from "../../layouts/MainLayout.astro";
import img1 from "../../images/services/img1.png";
import { Image } from "astro:assets";
---

<MainLayout title="Business Analysis">
  <div
    class="bg-detail-img bg-no-repeat h-96 w-full absolute top-0 grayscale -z-40"
  >
    <div class="bg-black bg-opacity-80 w-full h-full"></div>
  </div>
  <section class="mx-16 min-[1600px]:ml-32 flex text-white">
    <div class="mt-48 min-[1600px]:mt-72 gap-x-20">
      <header class="flex flex-col w-full items-center mb-72">
        <h2 class="text-5xl font-semibold">Digital Marketing</h2>
      </header>

      <main>
        <section class="grid grid-cols-2 gap-4">
          <div class="h-full">
            <h2 class="text-5xl">
              Growing your business digital presence has become a necessity and
              our services in Digital Marketing ensure your business is seen by
              everyone.
            </h2>
          </div>
          <div>
            <Image src={img1} alt="img1" class="h-96 w-full object-fill" />
          </div>
        </section>

        <section class="mt-24 grid grid-cols-2 gap-16">
          <div>
            <h3 class="text-3xl mb-4">Digital Advertising</h3>
            <p class="text-lg">
              A key aspect of any digital strategy are the ads being run on Meta
              (Instagram & Facebook), Google (Display, YouTube, Search),
              Snapchat & TikTok. Our team of experts ensure you get the numbers
              that speak volumes in the awareness, engagement and conversion
              metric.
            </p>
          </div>
          <div>
            <h3 class="text-3xl mb-4">SEO & SEM</h3>
            <p class="text-lg">
              Search Engines are the first line of internet contact for majority
              of people which means your business’ ranking on these search
              engines is extremely important. Our team works on strategies that
              includes short term top rankings through ads in SEM and SEO
              optimisation so that your business ranks top through the
              algorithm.
            </p>
          </div>
          <div>
            <h3 class="text-3xl mb-4">Performance Marketing</h3>
            <p class="text-lg">
              Specialised digital ads that are designed to make the consumer
              convert or buy your product/service is a technical part of the
              digital funnel. Our team has the technical ability to run
              performance marketing ads that are optimised for giving the best
              desired results in terms of sales, conversions.
            </p>
          </div>
          <div>
            <h3 class="text-3xl mb-4">Email Marketing</h3>
            <p class="text-lg">
              Email Marketing offers a chance to personally address your
              customer with customised deals, communication that talks
              specifically to them. Our team knows how to create email marketing
              campaigns that not only sets your brand apart but ensures the
              chance of conversion is high.
            </p>
          </div>
          <div>
            <h3 class="text-3xl mb-4">Online Store Management</h3>
            <p class="text-lg">
              Our team has expertise in the two major ecommerce platforms;
              Shopify and WooCommerce which means we are able to fully manage
              your online store. From product updates to site maintenance, we
              cover it all.
            </p>
          </div>
        </section>
      </main>
    </div>
  </section>
</MainLayout>
