---

---

<nav
  class="w-full text-white font-semibold fixed top-0 z-20 bg-dd-main-bg/80 backdrop:blur-3xl"
>
  <section
    class="min-[1600px]:mx-32 mx-16 flex justify-between items-center h-16 my-6"
  >
    <div>
      <a class="flex items-center gap-x-4" href="/">
        <img src="/logo.png" class="w-14" alt="logo" />
        <p class="text-dd-primary font-extrabold text-3xl">
          DIGITAL <span class="text-white">&</span> DESIGNS
        </p>
      </a>
    </div>
    <div>
      <ul class="flex gap-x-10 tracking-[0.2em] font-[600] text-sm">
        <li class="text-dd-primary"><a href="/"> HOME</a></li>
        <li>
          <a href="/#services" class="hover:text-dd-primary"> SERVICES</a>
        </li>
        <li><a href="/#projects" class="hover:text-dd-primary">PROJECTS</a></li>
        <li>
          <a href="/contact-us" class="hover:text-dd-primary"> CONTACT US</a>
        </li>
      </ul>
    </div>

    <a href="#">
      <div class="px-8 py-3 bg-dd-primary">
        <p class="text-white">Get Started</p>
      </div>
    </a>
  </section>
</nav>
