---
import FooterNav from "./FooterNav.astro";
---

<footer class="text-dd-text-grey">
  <section class="min-[1600px]:mx-32 mx-4 flex my-32">
    <div class="flex basis-[60%] flex-col gap-10">
      <div class="flex items-center gap-x-4">
        <img src="/logo.png" class="w-14" alt="logo" />
        <p class="text-dd-primary font-extrabold text-3xl">
          DIGITAL <span class="text-white">&</span> DESIGNS
        </p>
      </div>
      <p class="max-w-lg">
        We offer an extensive array of services designed to propel your business
        forward in the digital realm. Whether it's Social Media management or
        Business Analytics solutions, we have the expertise to meet your needs
        and exceed your expectations.
      </p>
    </div>
    <div class="flex basis-[40%] w-full">
      <div class="flex flex-col basis-1/2 w-full">
        <h3 class="text-2xl mb-10 text-white">Contact Us</h3>
        <div class="flex flex-col gap-6">
          <p>
            Office #174, 31 Redlake Drive, Postcode TA1 2RU, Taunton, United
            Kingdom
          </p>
          <p>Phone : +447553-400561</p>
          <p>Mail : info@example.com</p>
          <p>Working Hours : 9:00am - 5:00pm</p>
        </div>
      </div>

      <div class="flex flex-col basis-1/2 w-full">
        <h3 class="text-2xl mb-10 text-white">Services</h3>
        <div class="flex flex-col gap-6">
          <p>Business Analysis</p>
          <p>Content Creation</p>
          <p>Creative</p>
          <p>Digital Marketing</p>
          <p>Development</p>
          <p>Affiliate Marketing</p>
        </div>
      </div>
    </div>
  </section>
  <section class="border-t-[1px] border-solid border-dd-grey">
    <FooterNav />
  </section>
</footer>
